# Logs
logs
*.log

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Environment variables
.env

# Built files
dist
build



# local dev env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
